$hover-transition-time: 0.2s;
$end-hover-transition-time: 1s;
$text-color: #bbb;

$bg-color: #1c1c1c;
$separator-line: #101010;

$hover-link: #a5d1e6;
$active-link: #ff69dc;

$nav-color: #1f1f1f;

$nav-height: 50px;
$footer-height: 50px;

$bg-color: #334;
$nav-color: #223;

$bg-color: #223;
$nav-color: #223;
$nav-line: #334;