@import "./_variables.scss";

$sidebar-width: 240px;
$sidebar-skinny-width: 240px;
$sidebar-skinny-switch: 1200px;

$sidebar-vpad: 53px;
$content-padding: 30px;
$mobile-content-padding: 0;

$blog-break-to-mobile: 900px;

.max-width-1000 {
  max-width: 1000px;
  margin: auto;
}

.blog-list {
  list-style: none;
}

@import "./_variables.scss";

.blog-summary {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  padding: 20px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid $bg-color;
  transition: 0.8s;

  max-width: calc(100vw - 40px);

  h1 {
    margin-bottom: 10px;
    color: $text-color;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
  }
  h6 {
    color: grey;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
  }
  p {
    color: $text-color;
  }
  .blog-summary-title {
    display: flex;
  }
  input[type="button"] {
    width: 200px;
    padding: 10px 40px;
    background: transparent;
    // background: rgba(black, 0.2);
    border-radius: 10px;
    border: 1px solid $nav-line;
    color: $nav-line;
    margin-top: 24px;
    cursor: pointer;
    transition: 1s;
  }
  &:hover {
    transition: 0.3s;
    border: 1px solid $nav-line;
    background: rgba(white, 0.01);
    h1 {
      margin-left: 30px;
      transition: 0.4s;
    }
    h6 {
      margin-left: 30px;
      transition: 0.2s;
    }
    input[type="button"] {
      color: $text-color;
      border-color: $text-color;
      transition: 0.4s;
    }
  }
  &:active {
    input[type="button"] {
      background-color: $hover-link;
      color: white;
      border-color: $text-color;
      transition: 0.4s;
    }
  }

  img {
    object-fit: cover;
    transition-property: transform;
    max-width: 350px;
    height: 270px;
    margin-bottom: -14px;
    padding-right: 10px;
    padding-left: 5px;
    @media screen and (max-width: 1250px) {
      display: none;
    }
  }
}

hr.blog-summary-separator {
  background: transparent;
  border: none;
  border-bottom: 1px solid $nav-line;
  max-width: calc(100vw - 40px);
}

.blog-sidebar {
  h1 {
    margin: 0;
    // text-align: right;
  }
  // desktop
  @media screen and (min-width: $blog-break-to-mobile) {
    position: fixed;
    width: $sidebar-width;
    min-height: calc(100vh - 50px);
    padding-top: $sidebar-vpad;
    &:after {
      content: "";
      position: absolute;
      bottom: $sidebar-vpad;
      right: 0;
      top: $sidebar-vpad;
      width: 0;
      border-right: 1px solid $nav-line;
    }
    .blog-sidebar-content {
      margin-right: 30px;
      text-align: right;
      //   max-width: $sidebar-width - 80px;
    }
    h1 {
      font-size: 24px;
    }
  }
  @media screen and (max-width: $sidebar-skinny-switch) {
    width: $sidebar-skinny-width;
  }
  // mobile
  @media screen and (max-width: $blog-break-to-mobile) {
    margin-top: 80px;
    padding: $mobile-content-padding;
    h1 {
      font-size: 32px;
      margin-bottom: 50px;
    }
  }
}

.blog-content-container {
  line-height: 1.6;
  padding: $content-padding;
  padding-top: 80px;
  max-width: 700px;

  // desktop
  @media screen and (min-width: $blog-break-to-mobile) {
    margin-left: $sidebar-width;
    @media screen and (max-width: $sidebar-skinny-switch) {
      margin-left: $sidebar-skinny-width;
    }
  }

  // mobile
  @media screen and (max-width: $blog-break-to-mobile) {
    max-width: 800px;
    padding: $mobile-content-padding;
  }
}

.toc {
  @media screen and (max-width: $blog-break-to-mobile) {
    display: none;
  }
  list-style-type: none;
  a {
    text-decoration: none;
  }
  // "h1" li
  li {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 18px;
    font-size: 14px;
    line-height: 2;
  }
  ul {
    list-style-type: none;
    // "h2" li
    li {
      font-weight: normal;
      font-size: 12px;
      text-transform: initial;
      margin-top: 1px;
      line-height: 1.6;
    }
  }
}
