@import "./layout.scss";
@import "./blog.scss";
@import "./project.scss";

// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// base styles

a {
  color: #87afd7;
  &:visited {
    color: #5f5f87;
  }
  &:hover {
    color: #ffffaf;
  }
  &:active {
    color: #ff69dc;
  }
}
