$bg-color: #1c1c1c;
$separator-line: #101010;

$text-color: #bbb;
$hover-link: #a5d1e6;
$active-link: #ff69dc;

$nav-color: #1f1f1f;

$nav-height: 50px;
$footer-height: 50px;

$bg-color: #334;
$nav-color: #223;

$bg-color: #223;
$nav-color: #223;
$nav-line: #334;

body {
  padding: 0;
  margin: 0;
  background: $bg-color;
  color: $text-color;
  box-sizing: border-box;
  font-family: sans-serif;
  * {
    box-sizing: border-box;
  }
}

.container {
  max-width: 1200px;
  @media screen and (min-width: 1200px) {
    margin-left: calc(50vw - 600px);
  }
}

.nav-logo {
  padding-top: 10px;
  color: $text-color;
  &:visited {
    color: $text-color;
  }
  text-decoration: none;
  @media screen and (max-width: 800px) {
    padding-left: 10px;
  }
}

.nav-logo-subscript {
  color: grey;
  font-size: 70%;
}

.nav-bar {
  position: fixed;
  background: $nav-color;
  border-bottom: 1px solid $nav-line;
  height: $nav-height;
  width: 100%;
  z-index: 9999;
}

.flex {
  display: flex;
}

.overflow-scroll {
  overflow: scroll;
}

/*
.fill-under-nav {
  height: calc(100vh - #{$nav-height});
}
*/

.fill-page {
  position: relative;
  min-height: 100vh;
  padding-top: $nav-height;
  padding-bottom: $footer-height;
}

footer {
  height: $footer-height;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid $nav-line;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: $nav-height;
}

.nav-spacer {
  flex-grow: 1;
}

.nav-link-item {
  margin: 0 10px;
  height: 100%;
}

.nav-link-text {
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  line-height: $nav-height;
  transition-property: transform, color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  &:visited {
    color: $text-color;
  }
  &:hover {
    color: $hover-link;
    transform: scale3d(1.1, 1.1, 1);
  }
  &:active,
  &.nav-link-active {
    color: $active-link;
    transition-duration: 0.1s;
    transform: scale3d(1.2, 1.2, 1) rotate(5deg);
    // transform: rotate(10deg);
  }
}

.title {
  font-weight: normal;
  font-size: 80px;
  margin-top: 100px;
}

.title-subscript {
  font-weight: normal;
  font-size: 18px;
  color: grey;
  width: 50%;
  padding: 10px 0;
}

.banner-image {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
