@import "./_variables.scss";

$break-to-mobile: 1200px;

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: $nav-height;
}

.nav-link-text {
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  line-height: $nav-height;
  &:visited {
    color: $text-color;
  }
  &:hover {
    color: $hover-link;
  }
  &:active {
    color: $active-link;
  }
  &.nav-link-active {
    color: $active-link;
  }
  @media screen and (min-width: $break-to-mobile) {
    transition-property: transform, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    &:hover {
      transform: scale3d(1.1, 1.1, 1);
    }
    &:active {
      transition-duration: 0.1s;
      transform: scale3d(1.2, 1.2, 1) rotate(5deg);
    }
  }
}

nav {
  #nav-toggle {
    display: none;
    span {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }
  }

  .nav-link-item {
    margin: 0 10px;
    height: 100%;
  }

  .mobile-only {
    display: none;
  }

  // mobile
  @media screen and (max-width: $break-to-mobile) {
    .mobile-only {
      display: block;
    }
    #nav-toggle.enabled {
      display: block;
      top: 5px;
      right: 4px;
      position: absolute;
      background: transparent;
      border: 1px solid $nav-line;
      padding-left: 1px;
      width: 44px;
      height: 38px;
      color: $base-link;
      .las {
        font-size: 28px;
      }
    }

    #header-nav-links {
      display: none;
    }

    #header-nav-links.is-active {
      display: block;
      position: absolute;
      top: $nav-height;
      right: 0;
      width: 100%;
      height: auto;
      .nav-link-item {
        background: $bg-color;
        border-bottom: 1px solid $nav-line;
      }
      box-shadow: 0 10px 10px rgba(black, 0.2);
    }

    .nav-link-item {
      margin: 0;
      padding-left: 20px;
      a {
        width: 100%;
      }
    }
  }
}
