{% macro nav_link(text, href) %}
	<li
		class="nav-link-item">
		<a href={{ href }}
			class="nav-link-text
				{% if current_path and current_path is starting_with(href) %}
					nav-link-active
				{% endif %}">
			{{ text }}
		</a>
	</li>
{% endmacro nav_link %}

{% macro header() %}
<header class="nav-bar">
	<div class="container flex">

		<a href="/" class="nav-logo">
			Matt O'Tousa
			<div class="nav-logo-subscript">Software Engineer</div>
		</a>

		<div class="flex-spacer"></div>

		<!-- Accessible navigation based on https://www.a11ymatters.com/pattern/mobile-nav -->
		<nav role="navigation">

			<ul id="header-nav-links" class="nav-links is-active">
				{{ self::nav_link(text="Blog", href="/blog") }}
				{{ self::nav_link(text="Projects", href="/projects") }}
				{{ self::nav_link(text="About", href="/about") }}
			</ul>
			<button id="nav-toggle" aria-expanded="false" aria-controls="header-nav-links">
				<i id="nav-icon"></i>
				<span>Menu</span>
			</button>

			<script defer>
				// only have toggle button if javascript is enabled --
				// otherwise, nav will be shown anyway
				const navToggle = document.querySelector("#nav-toggle");
				navToggle.classList.add("enabled");

				// draw icon
				const navIcon = document.querySelector("#nav-icon");
				navIcon.classList.add("las", "la-bars");
				// make button work
				navToggle.addEventListener("click", () => {
					const isActive = navLinks.classList.toggle("is-active")
					if (isActive) {
						navIcon.className = "las la-times"
						navToggle.setAttribute('aria-expanded', 'true');
					} else {
						navIcon.className = "las la-bars"
						navToggle.setAttribute('aria-expanded', 'false');
					}
				});

				// if javascript is enabled, hide navLinks by default
				const navLinks = document.querySelector("#header-nav-links");
				navLinks.classList.remove("is-active");

			</script>
		</nav>

	</div>
</header>
{% endmacro header %}

{% macro footer() %}
<footer>
	<div class="container">
		<div class="flex">
		<div class="made-with">
			Made with <a href="https://www.getzola.org/">Zola</a>
		</div>
		<div class="flex-spacer"></div>
		<ul class="nav-links">
			<li>
				<a class="icon-link nav-link-text" href="https://github.com/Tattomoosa">
					<i class="lab la-github"></i>
				</a>
			</li>
			<li>
				<a class="icon-link nav-link-text" href="https://codepen.io/Tattomoosa">
					<i class="lab la-codepen"></i>
				</a>
			</li>
			<li>
				<a class="icon-link nav-link-text">
					<i class="lab la-stack-overflow"></i>
				</a>
			</li>
			<li>
				<a class="icon-link nav-link-text">
					<i class="lab la-instagram"></i>
				</a>
			</li>
			<li>
				<a class="icon-link nav-link-text">
					<i class="lab la-youtube"></i>
				</a>
			</li>
			<li>
				<a class="icon-link nav-link-text">
					<i class="las la-envelope"></i>
				</a>
			</li>
		</ul>

		</div>
	</div>
</footer>
{% endmacro footer %}
