<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <title>Matt O'Tousa | Software Engineer</title>
    <link rel="stylesheet" href={{ get_url(path="index.css" ) }} />
</head>

<body>
    <script>
        console.log("Tera context:", `{{ __tera_context }}`);
    </script>

    <!-- Nav Bar -->
    <nav class="nav-bar">
        <div class="container flex">

            <a href="/" class="nav-logo">
                Matt O'Tousa
                <div class="nav-logo-subscript">Software Engineer</div>
            </a>

            <div class="nav-spacer"></div>

            <ul class="nav-links">
                <li class="nav-link-item">
                    <a href="/" class="nav-link-text">
                        Home
                    </a>
                <li class="nav-link-item">
                    <a href="/blog" class="nav-link-text">
                        Blog
                    </a>
                </li>
                <li class="nav-link-item">
                    <a href="/projects" class="nav-link-text">
                        Projects
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="fill-page">

        <!-- Per-page content -->
        <section class="section">
            {% block content %} {% endblock %}
        </section>

        <footer>
            <div class="container">
                Made with <a href="https://www.getzola.org/">Zola</a>
            </div>
        </footer>
    </div>

</body>

</html>