{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">{{ section.title }}</h1>
    <br />
    <br />
    <br />
    <ul class="blog-list">
        {% for page in section.pages %}
        <li>
            <a class="blog-summary" href="{{ page.permalink | safe }}">
                <h6 class="date">{{ page.date }}</h6>
                <h1>{{ page.title }}</h1>
                <div class="markdown-content">
                    {{ page.summary | safe }}
                </div>
                <input type="button" value="Read More"/>
            </a>
            <hr class="blog-summary-separator" />
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}