{% extends "base.html" %}
{% import "macros/project-macros.html" as project_elements %}
{% import "macros/blog-elements.html" as blog_elements %}
{% import "macros/layout-elements.html" as layout_elements %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" defer></script>
<script src="js/cubeTower.js" defer></script>

<div class="container position-relative">
    <div class="main-title">
        <h2 class="subtitle margin-top-100">Hi, I'm</h2>
        <h1 class="title" style="margin: -24px 0 -10px">Matt O'Tousa</h1>
        <h2 class="subtitle">and I make computers do stuff</h2>
    </div>
</div>


<div class="cube-tower-container">
    <div id="cube-tower" class="fill-parent">
        <img class="fallback-img" src="no-js-fallback-cubetower.png"/>
    </div>
    <div class="cube-tower-fade-out-bottom"></div>
</div>

    <br/>
    <br/>
    <br/>
    <br/>
    <section class="container no-mobile-padding">
        <div style="text-align: center;">
            {% set profile_pic_path = '/homepage-images/profile-pic.png' %}
            {% set profile_img = resize_image(path=profile_pic_path, width=230, op='fit_width', format='jpg') %}
            <img src="{{ profile_img.url }}" class="profile-img"/>
        </div>
        <br/>
        <br/>
        <div class="markdown-content bio">
            <div style="padding: 0 40px;">
                <p>
                    Matt O'Tousa
                    is a software engineer specializing in web and interactive media.
                    He lives in Portland, Oregon and has an MS in Computer Science and a BA in Telecommunications.
                    Beyond his technical expertise,
                    he also brings to the table a background in visual art, design and communication.
                </p>
                <p>
                    He has worked on software used by
                    The Oregon Department of Transportation,
                    FLIR Systems,
                    Portland State University,
                    and more.
                </p>

            </div>
            <br/>
            <br/>
            <div class="bio-link-container bio-link-container-left">
                <a class="nav-link-text e--" href="/please-enable-javascript">
                    <i class="las la-envelope"></i>
                    Get In Touch
                </a>
            </div>
            <div class="bio-link-container">
                <a class="nav-link-text" href="/about">
                    <i class="las la-arrow-right"></i>
                    Read More
                </a>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
    <section class="container no-mobile-padding">
        {{ layout_elements::homepage_section_title(text="Projects", href="/projects") }}
        <ul class="project-thumbnail-list" style="margin-bottom: 0;">
            {{ project_elements::project_thumbnail(page=get_page(path="projects/csz-at-pdx/index.md")) }}
            {{ project_elements::project_thumbnail(page=get_page(path="projects/epa-rimm/index.md")) }}
            {{ project_elements::project_thumbnail(page=get_page(path="projects/ismyroadfresh/index.md")) }}
        </ul>
        <div class="align-right">
            <a class="nav-link-text more-link" href="/projects">See More <i class="las la-arrow-right"></i></a>
        </div>
    </section>
    <section class="container">
        {{ layout_elements::homepage_section_title(text="Blog", href="/blog") }}
        <ul class="blog-list">
            {{ blog_elements::blog_summary(page=get_page(path="blog/why-zola/index.md")) }}
        </ul>
        <div class="align-right">
            <a class="nav-link-text more-link" href="/blog">See More <i class="las la-arrow-right"></i></a>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock content %}