{% extends "base.html" %}

{% block content %}

<div class="container position-relative">
    <div class="main-title">
        <h2 class="subtitle margin-top-100">Hi, I'm</h2>
        <h1 class="title" style="margin: -24px 0 -10px">Matt O'Tousa</h1>
        <h2 class="subtitle">I make computers do stuff</h2>
    </div>
</div>

<div class="cube-tower-container">
    <div id="cube-tower" class="fill-parent">
        <img class="fallback-img" src="no-js-fallback-cubetower.png"/>
    </div>
</div>

NEXT PART

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="js/cubeTower.js"></script>

{% endblock content %}