{% extends "base.html" %}

{% block content %}
<img src="thumbnail.png" class="background-image" />

<div class="spacer"></div>
<div class="container no-mobile-padding">
    <div class="article-paper bg-color">

        <br/>
        <br/>
        <br/>
        <br/>

        <div class="article">
            {% if page.date %}
            <span class="date">
                {% if page.extra.start_date %}
                    {{ page.extra.start_date }} &ndash;
                {% endif %}
                {{ page.date }}
            </span>
            {% endif %}
            <h1 class="title">
                {{ page.title }}
            </h1>
            <br/>
            {% if page.extra.lead %}
            <h2 class="lead">
                {{ page.extra.lead }}
            </h2>
            {% endif %}
            <br/>
            <div>
                <!-- Languages -->
                <span class="language-tagbar">
                {% if page.taxonomies.language %}
                    {% for lang in page.taxonomies.language %}
                        <span class="language-tag">{{ lang }}</span>
                    {% endfor %}
                {% endif %}
                </span>
            </div>

            <br/>
            <br/>

            <div class="body-text markdown-content">
                {% if page.content %}
                {{ page.content | safe }}
                {% else %}
                Oops!
                <br/>
                <br/>
                I haven't gotten around to writing a description for this project yet.
                {% endif %}
            </div>
        </div>
        <div style="height: 200px"></div>


    </div>
    <div style="height: 50px"></div>
</div>

{% endblock content %}