{% extends "base.html" %}
{% import "macros/project-macros.html" as project_macros %}

{% block content %}
<div class="container">
    <h1 class="title margin-top-100">{{ section.title }}</h1>

    <h5 class="title-subscript">
        (Work/School/Personal)
    </h5>

    <br />
    <br />
    <br />
</div>
<div class="container no-mobile-padding">
    <ul class="project-thumbnail-list">
        {% for page in section.pages %}
        {{ project_macros::project_thumbnail(page=page) }}
        {% endfor %}
    </ul>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
{% endblock content %}