{% extends "base.html" %}

{% block content %}
<img src="header.png" class="background-image" />

<div class="spacer"></div>
<div class="container no-mobile-padding">
    <div class="article-paper bg-color">

        <div class="article">
            <h1 class="title">
                {{ page.title }}
            </h1>
            <p class="subtitle">
                {{ page.date }}
            </p>
            <div class="body-text">
                {{ page.content | safe }}
            </div>
        </div>

    </div>
</div>

{% endblock content %}